@import 'bootstrap/bootstrap.less';

span.username {
	font-weight: bold;
}

span.username:after {
	content: ": ";
}

body {
	padding-top: 1em;
	padding-bottom: 1em;
}

// viewport units break on some browsers
// http://caniuse.com/#feat=viewport-units
#chat {
	max-height: 80vh;
	overflow-y: scroll;
}
